<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            http-equiv="content-security-policy"
            content="default-src 'self' blob:; img-src * data:; media-src *; font-src *; style-src 'unsafe-inline' 'self' blob: *; script-src 'self' 'unsafe-inline' blob: *; object-src 'self' blob: *; upgrade-insecure-requests; connect-src *; frame-src 'self' blob: data: *"
        />

        <title>{% block title %}{{ title }}{% endblock %}</title>

        <meta name="theme-color" content="#ffc09e" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Sealable" />

        <link rel="icon" href="/static/favicon.svg" />

        {% block head %}{% endblock %}

        <link rel="stylesheet" href="/static/style.css" />
        <script type="module" src="/static/js/Footer.js"></script>
    </head>

    <body>
        <!-- page content -->
        <div id="_page" style="display: contents">
            <main class="flex flex-col justify-between gap-8">
                <div id="_footer_base_page">
                    {% block content %}{% endblock %}
                </div>

                <!-- footer -->
                <footer class="flex justify-center items-center gap-4 w-full">
                    <hr class="small" />

                    <div class="flex items-center gap-1">
                        <!-- site menu -->
                        <a
                            title="Site Menu"
                            href="/"
                            class="button round secondary"
                        >
                            Sealable
                        </a>
                    </div>

                    <hr class="small" />

                    <style>
                        footer hr.small {
                            /* width: calc(425px / 2); */
                            width: 100%;
                            max-width: 100%;
                        }
                    </style>

                    <script type="module">
                        import "/static/js/footer.js";
                    </script>
                </footer>
            </main>
        </div>
    </body>
</html>
