<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            http-equiv="content-security-policy"
            content="default-src 'self' blob:; img-src * data:; media-src *; font-src *; style-src 'unsafe-inline' 'self' blob: *; script-src 'self' 'unsafe-inline' blob: *; object-src 'self' blob: *; upgrade-insecure-requests; connect-src *; frame-src 'self' blob: data: *"
        />

        <title>{% block title %}{{ title }}{% endblock %}</title>

        <meta name="theme-color" content="#ffc09e" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Sealable" />

        <link rel="icon" href="/static/favicon.svg" />

        {% block head %}{% endblock %}

        <link rel="stylesheet" href="/static/style.css" />
        <script type="module" src="/static/js/Footer.js"></script>
    </head>

    <body>
        <!-- page content -->
        <div id="_page" style="display: contents">
            <main class="min-h-full" {% block mainstuff %}{% endblock %}>
                <div id="_footer_base_page" class="h-full">
                    {% block content %}{% endblock %}
                </div>

                <!-- footer -->
                <footer class="flex flex-col items-center gap-2 w-full my-2">
                    <hr class="md:w-[350px] w-full" />

                    <div class="footernav">
                        <span class="item">
                            <a href="/">new</a>
                        </span>

                        <span class="item">
                            <a href="https://github.com/hkauso/sealable">
                                source
                            </a>
                        </span>
                    </div>

                    <script type="module">
                        import "/static/js/footer.js";
                    </script>
                </footer>
            </main>
        </div>
    </body>
</html>
